################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lnk
*.user
.svn/
.vs/
1-user-setup.sql
unpublished.*
bin/*.xml
obj/
packages/
/lib/ki/
/Web.config
